<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Git demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>801F3FF71E5C10CD0091D7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801F400B1E5C10CE0091D7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801F40161E5C10CE0091D7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
